<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>ICOFormat</string>
	<key>CFBundleGetInfoString</key>
	<string>ICOFormat plugin 1.7b4 Copyright (C) Telegraphics Pty Ltd 1995-2005</string>
	<key>CFBundleIdentifier</key>
	<string>com.telegraphics.ICOFormat</string>
	<key>CFBundleName</key>
	<string>ICOFormat</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7b4</string>
	<key>CFBundleSignature</key>
	<string>8BIM</string>
	<key>CFBundlePackageType</key>
	<string>8BIF</string>
</dict>
</plist>
